.header {
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    color: white;
}
.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0 100px 0;
}
.headerList {
    display: flex;
    
   
    gap: 40px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px   ;
    margin-bottom: 50px;
}

.headerListItem.active {
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 20px;
}

.headerDesc {
    margin: 20px 0px;
}

.headerBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}